<!DOCTYPE html>
<html>
    <head>
        <title>PCS - EMPRESAS</title>
    <div th:substituteby="includes/header"/>
</head>
<body>
    <div th:substituteby="includes/menu :: pcs"/>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <a class="btn btn-primary pull-right" href="#" th:href="@{/pcs/empresa/new}">Agregar</a>
                    <h2>EMPRESAS</h2>
                </div>

                <table class="table table-striped  table-hover">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>RUC</td>
                            <td>Dirección</td>
                            <td>Contacto</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- empresa actua como un array y obtiene todos los valores
                        que el controller RETORNA, un MODEL con nombre "empresas"
                        por cada lista empresa[] obtiene al item empresas para sacarle sus
                        propiedades.-->
                        <tr th:each="empresa, item: ${empresas}" th:id="'row'+${item.count}">

                            <td> <a th:text="${empresa.razon_social}">Albatross </a></td>
                            <td th:text="${empresa.ruc}">4568798545</td>
                            <td th:text="${empresa.sede_central}">Jr. Universidad 666</td>
                            <td th:text="${empresa.repre_legal}">José Eusebio Alderete</td>
                            <td>
                                <a th:href="@{/pcs/empresa/} + ${empresa.id} + '/update'">editar</a>
                                <a class="showDeleteModal" href="#" th:rel="${empresa.id}">eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- delete modal-->
    <div class="modal hide fade" id="deleteModal" th:href="@{/pcs/empresa/delete}">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Eliminar</h3>
        </div>

        <div class="modal-body">
            <p>Confirmar para eliminar el registro.</p>
        </div>

        <div class="modal-footer">
            <input type="hidden" name="id" id="deleteValue" value="" />

            <a data-toggle="modal" href="#deleteModal" class="btn">Cancelar</a>
            <a class="btn btn-danger" id="confirmDelete" >Eliminar</a>

        </div>
    </div>
</body>
<div  th:substituteby="includes/footer"/>

<script>
    var rowId = null;
    var deleteValue = null;

    $('.showDeleteModal').each(function(index, elem) {
        $(elem).click(function() {
            rowId = $(elem).parents('tr').first().attr('id');
            deleteValue = $(elem).attr('rel');

            $('#deleteModal').modal('show');
        });
    });

    $('#confirmDelete').click(function() {
        $.ajax({
            url: $('#deleteModal').attr('href').toString(),
            method: 'post',
            data: {id: deleteValue},
            success: function(result) {
                $('#deleteModal').modal('hide');

                if (result.success) {
                    $('#' + rowId).fadeOut(1000, function() {
                        $('#' + rowId).remove();
                    });
                }
            }
        });
    });
</script>
</html>

