<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}" />
<!--
<link rel="stylesheet" type="text/css" th:href="@{/validate/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/humane-js/original.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />
-->
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/app/bootstrap-overrides.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/app/encabezadoStyle.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-responsive.min.css}" />
<!--
<link rel="stylesheet" type="text/css" th:href="@{/jquery-fileupload/css/jquery.fileupload-ui.css}" />
-->
